[submodule "submodules/Nimble"]
	path = submodules/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "submodules/Quick"]
	path = submodules/Quick
	url = https://github.com/Quick/Quick.git
[submodule "submodules/Alamofire"]
	path = submodules/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "submodules/ReactiveCocoa"]
	path = submodules/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
