[submodule "submodules/Nimble"]
	path = submodules/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "submodules/Quick"]
	path = submodules/Quick
	url = git@github.com:Quick/Quick.git
[submodule "submodules/Alamofire"]
	path = submodules/Alamofire
	url = git@github.com:Alamofire/Alamofire.git
