github "Alamofire/Alamofire" ~> 4.0.0
github "ReactiveCocoa/ReactiveSwift" "33f8a6d4a9bd6513dd529d17908331b8e66c4874" # waiting for a release, based on https://github.com/ReactiveCocoa/ReactiveCocoa/issues/3172
github "ReactiveX/RxSwift" "3.0.0-beta.1"
