github "Alamofire/Alamofire" "master" # waiting for a release, based on https://github.com/Alamofire/Alamofire/issues/1485
github "ReactiveCocoa/ReactiveCocoa" "master" # waiting for a release, based on https://github.com/ReactiveCocoa/ReactiveCocoa/issues/3172
github "ReactiveX/RxSwift" "develop"
